{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:500,600,900' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'static/style.css'%}">       

     <!-- Bootstrap CSS -->
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 
    <title>home</title>
</head>

<body>
    <div class="jumbotron bg-light">
        <p><h2> Hello! What's On Your Mind? </h2></p>  
    <div class="card mx-auto justify-content-center" style="width: 30rem;">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <b> Status </b>
                <br>
                {{ form.status }}
                <button type="submit" id ="submit" class="btn text-light ml-5" style="background-color: #07b3b7; min-width: 50%; font-size: 80%;">Submit</button>
            </form>
        </div>
    </div>
        {% if status %}
            <h4>Posted Status</h4>
                {% for status in status %}
                    <p id = 'status'>{{ status.status }} || {{ status.date }}</p>
                {% endfor %}
        {% else %}
            <p><b>There's No Status Yet</b></p>
        {% endif %}
    </div>           

</body>
</html>

